.logo a {
    font-family: "Verdana";
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    color: #001e28;
    float: left;
  }
  
  .logo a:hover {
    text-decoration: none;
  }
  
  .logo span {
    padding-top: 15px;
  }
  
  .phone .quest {
    font-family: "Verdana";
    font-size: 13px;
    line-height: 1.2em;
    font-weight: 300;
    color: #001e28;
  }
  
  .phone a {
    font-family: "Roboto";
    font-size: 17px;
    line-height: 1.2em;
    font-weight: 700;
    color: #001e28;
  }
  
  .phone p {
    margin: 0;
  }
  
  .call a {
    font-family: "Verdana";
    font-size: 11px;
    line-height: 1.2em;
    font-weight: 700;
    color: #ffffff;
    border-radius: 15px;
    margin-top: 15px;
  }
  
  .bilbord {
    outline: 1px solid black;
    background-image: url("../img/safe_image_fon.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .wraperMilenium {
    max-width: 55%;
